.page
    padding: 220px 0px 0px 0px
    &__content
        text-align: right
    &__title
        font-family: Roboto, sans-serif
        font-size: 115px
        font-weight: 700
        line-height: 120px
        color: #090000